@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
  border: 1px solid red
} */

:root{
  --pry: #1e51cf;}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body{
  background: linear-gradient(135deg, #0a1437 0%, #000000 100%);
  background-attachment: fixed;
  color: white;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar{
  width: 0.7rem;
  background-color: #080a0c;
  border-radius: 0.7rem;
}

::-webkit-scrollbar-thumb{
  background-color: var(--pry);
  border-radius: 0.7rem;
  height: 3rem;
}


